/* Application Background and font customization*/
body{
    background-image: url('components/assets/House_back.png');
    background-position: initial;
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Cabin', sans-serif;
}

